<form (submit)="registerStudent()" ngNativeValidate>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="student.firstName" name="firstName" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter First Name" required>
    </div>
    <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="student.lastName" name="lastName" id="lastName" aria-describedby="firstNameHelp" placeholder="Enter Last Name" required>
    </div>
    <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" [(ngModel)]="student.email" name="exampleInputEmail1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" [(ngModel)]="student.password" name="exampleInputPassword1" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" class="form-control" [(ngModel)]="cPassword" name="exampleInputPassword2" id="exampleInputPassword2" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm Password" required>
    </div>
    
    <div class="form-group">
            <label for="birthdate">Date of birth</label>
            <input type="date" class="form-control" [(ngModel)]="student.birthDate" name="birthdate" id="birthdate" aria-describedby="birthdate" placeholder="Enter date of birth" required>
    </div>
    <div class="form-group">
            <label for="Course">Course</label>
            <select [(ngModel)]="student.courseId" name="courseId" class="form-control" >
              <option *ngFor="let course of courses" [value]="course.courseId">{{course.courseName}}</option>
            </select>
          </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>