<app-getcomments></app-getcomments>
<div class="col-md-6">
    <h2 class="text-center">Add your thoughts?</h2>
  <form>
    <!-- <div class="form-group">
      <label for="number">Post ID:</label>
      <input [(ngModel)]="comments.postId" placeholder="Txt" name="number" class="form-control" id="firstName">
    </div> -->
    <div class="form-group">
      <label for="text">What would you like to say?</label>
      <input [(ngModel)]="comments.commentText" placeholder="comment here" name="text" class="form-control" id="firstName">
    </div>
  

    <!-- <button class="btn btn-success" (click)="postSubmit()">Enter my comment!</button> -->
  </form>
  </div>