<div *ngIf="moreComments == false; then thenBlock; else elseBlock"></div>
<p>asasdfasfasf</p>
<ng-template #thenBlock>
  <div *ngFor="let x of getComment | slice: 0:3">
    <p>{{ x.firstName }} says ---- {{ x.commentText }}--{{ x.time }}--{{ x.date }}</p>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div *ngFor="let x of getComment">
    <p>{{ x.firstName }} says ---- {{ x.commentText }}--{{ x.time }}--{{ x.date }}</p>
  </div>
</ng-template>

<div>
  <form (submit)="showMore()">
    <div class="form-group row">
      <label class="col-form-label">Click here for more comments</label>
      <button class="button" id="add-button" type="submit">Enter here.</button>
    </div>
  </form>
</div>
<!--  -->
<div>
  <form (submit)="postSubmit()">
    <div class="form-group row">
      <label class="col-form-label">Add your comment here!</label>
      <div class="comments-container">
        <textarea [(ngModel)]="comments.commentText" name="comments" class="form-control" required></textarea>
      </div>
      <button class="button" id="add-button2" type="submit">Enter here.</button>
    </div>
  </form>
</div>
