<div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-admin-sidebar></app-admin-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-admin-navbar></app-admin-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-admin-footer></app-admin-footer>
        </div>
    </div>
</div>
