<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Login
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="../assets/css/material-kit.css?v=2.0.6" rel="stylesheet" />
  </head>

  <body class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="alert-placeholder">
              <div [ngClass]="alertAdd" class="alert alert-danger">
                <div class="container">
                  <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                  </div>
                  <b>Invalid Details:</b> please check it...
                </div>
              </div>
            </div>
            <div [ngClass]="loginAdd" class="card card-login">
              <form class="form" (submit)="login()">
                <div class="card-header card-header-primary text-center">
                  <h3 class="card-title">Login</h3>
                  <div class="social-line">
                    <a class="btn btn-just-icon btn-link">
                      <i class="fa fa-user"></i>
                    </a>
                    <a class="btn btn-just-icon btn-link">
                      <i class="fa fa-sign-in"></i>
                    </a>
                  </div>
                </div>
                <p class="description text-center">Please Log in...</p>
                <div class="card-body">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="email" [(ngModel)]="email" name="email" value="{{ email }}" class="form-control" placeholder="Enter email" />
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" [(ngModel)]="password" name="password" value="{{ password }}" class="form-control" placeholder="Password" />
                  </div>
                </div>
                <div class="text-center">
                  <span *ngIf="!loading; then loadingThenBlock; else loadingElseBlock"></span>
                  <ng-template #loadingThenBlock>
                    <input type="submit" class="btn btn-primary mt-4 btn-link btn-wd btn-lg" value="Login" />
                  </ng-template>
                  <ng-template #loadingElseBlock>
                    <div style="transform: translate(0,30px);">
                      <i class="fa fa-spinner fa-spin fa-2x text-primary"></i>
                    </div>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/moment.min.js"></script>
    <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="../assets/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
  </body>
</html>
