.break{
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    color: #fff;
    font-weight: 400;
}

.br{
    border-radius: 4px;
}

.btrr{
    border-top-right-radius: 4px;
}
.btlr{
    border-top-left-radius: 4px;
}
.bblr{
    border-bottom-left-radius: 4px;
}
.bbrr{
    border-bottom-right-radius: 4px;
}