<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Time Table</h4>
            <p class="card-category">{{course.courseName | uppercase}}</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th class="text-primary" id="day">Timings</th>
                  <th class="text-primary" *ngFor="let x of timeTable" id="day">{{ x.day }}</th>
                </tr>
                <tr>
                  <th class="text-primary" id="time">10:00-13:00</th>
                  <td *ngFor="let x of timeTable">{{ x.periodA | uppercase }}</td>
                </tr>
                <tr class="break br">
                  <th class="text-white btlr bblr" id="time">13:00-14:00</th>
                  <td></td>
                  <td></td>
                  <td id="free">Recess</td>
                  <td></td>
                  <td class="btrr bbrr"></td>
                </tr>
                <tr>
                  <th class="text-primary" id="time">14:00-16:00</th>
                  <td *ngFor="let x of timeTable">{{ x.periodB | uppercase }}</td>
                </tr>
                <tr class="break br">
                  <th class="text-white btlr bblr" id="time">16:00-16:30</th>
                  <td></td>
                  <td></td>
                  <td id="free">Recess</td>
                  <td></td>
                  <td class="btrr bbrr"></td>
                </tr>
                <tr>
                  <th class="text-primary" id="time">16:30-21:00</th>
                  <td *ngFor="let x of timeTable">{{ x.periodC | uppercase }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
