<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/profile.png" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h2 class="card-title color-black">{{student.firstName}} {{student.lastName}}</h2>
                      <div class="card-description color-black">
                        <div class="item">
                          <h3><span>PRN: </span>190840-{{student.prn}}</h3>
                        </div>
                          <div class="item">
                            <h4>Email: {{student.email}}</h4>
                          </div>
                          <div class="item">
                            <h4> <span>Birth Date: </span> {{student.birthDate}}</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3"></div>
      </div>
  </div>
</div>
